.browseProfcontainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 40vw;
    height: auto;
    margin-top: 6vh;
    margin-bottom: 3vh;
    border-radius: 1vh;
    border: 1vh solid white;
    box-shadow: 5px 7px 20px rgb(255, 255, 255)
}

.BrowseProfSpan {
    font-size: 2vw;
    text-shadow: 1px 1px 10px rgb(245, 245, 245);
    color: white;
    border: .2vh solid rgb(26, 25, 25);
}

#SearchItem {
    border-left: .4vh solid white;
    border-right: .4vh solid white;
    border-radius: 2vh;
    font-size: 3vh;
    width: 90%;
    color: rgb(97, 97, 97);
    background-color: rgb(26, 26, 26);
}

.BottomLeft {
    display: grid;
    grid-template-rows:1fr 1fr 1fr;
    font-size: 3vh;
    text-align: center;
    margin-top: 5px;
}

.SearchItemBlock {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:1fr 1fr 1fr;
    border-radius: 2vh;
    font-size: 3vh;
    color: white;
    background-color: rgb(26, 26, 26);
}

.BrowseContRight {
    border: 1vh solid white;
    display: grid;
    grid-template-columns: 3fr 7fr;
    height: 30vh;
    width: 40vw;
    margin-top: 6vh;
    border-radius: 1vh;
    box-shadow: 5px 7px 20px rgb(255, 255, 255);
}

.BrowseProfbutt {
    background-color: black;
    color: white;
    font-size: 2vw;
    font-weight: bold;
    width: 100%;
    border-radius: 2vh;
    height: 100%;
    box-shadow: 5px 7px 20px rgb(255, 255, 255)
}

.BrowseProfbutt:hover {
    color: black;
    background-color: white;
    text-shadow: 1px 1px 10px rgb(0, 0, 0);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgb(255, 255, 255);
}