.editProfCont {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 6vh;
    width: fit-content;
    padding: 1vw;
    border-radius: 1vh;
    box-shadow: 5px 7px 20px rgb(255, 255, 255);
}

.EditProfbutt {
    background-color: black;
    color: white;
    font-size: 2.5vw;
    margin-bottom: 1vh;
    font-weight: bold;
    width: 100%;
    border-radius: 2vh;
    height: 100%;
    box-shadow: 5px 7px 20px rgb(255, 255, 255)
}

.EditProfbutt:hover {
    color: black;
    background-color: white;
    text-shadow: 1px 1px 10px rgb(0, 0, 0);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgb(255, 255, 255);
}

.EditProfSpan {
    font-size: 2vw;
    text-shadow: 1px 1px 10px rgb(245, 245, 245);
    color: white;
    border-radius: 1vh;
    border: .2vh solid rgb(26, 25, 25);
}

textarea {
    width: 40%;
    margin-top: 1vh;
    margin-left: 2vh;
}

.input {
    width: 50%;
    height: 30%;
    margin-top: 1vh;
    margin-left: 2vh;
}