.imageCont {
    width: 45vw;
    height: 55vh;
    margin-top: 2vh;
    margin-bottom: 3vh;
    border-radius: 1vh;
    border: .2vh solid white;
    box-shadow: 5px 7px 20px rgb(255, 255, 255)
}

.textPart {
    height: fit-content;
}

.IntCont {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 3fr;
    width: 45vw;
    height: auto;
    margin-top: 6vh;
    margin-bottom: 3vh;
    border-radius: 1vh;
    border: .2vh solid white;
    box-shadow: 5px 7px 20px rgb(255, 255, 255)
}

.IntSpan {
    font-size: 2vw;
    text-shadow: 1px 1px 10px rgb(245, 245, 245);
    color: white;
    border: .2vh solid rgb(26, 25, 25);
}
p {
    color: white;
    display: block;
    font-size: 2vh;
    margin-bottom: 1vh;
}

.edit:hover {
    color: black;
    background-color: white;
    border-bottom: .2vh solid black;
    text-shadow: 1px 1px 5px rgb(92, 88, 88);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgb(255, 255, 255);
}

.Intbutt {
    background-color: black;
    color: white;
    font-size: 3vw;
    font-weight: bold;
    width: 100%;
    border-radius: 2vh;
    box-shadow: 5px 7px 20px rgb(255, 255, 255)
}

.Intbutt:hover {
    color: black;
    background-color: white;
    text-shadow: 1px 1px 10px rgb(0, 0, 0);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgb(255, 255, 255);
}