button:hover {
    color: black;
    background-color: white;
    text-shadow: 1px 1px 5px rgb(92, 88, 88);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgb(255, 255, 255);
}

.navBar {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(216, 211, 211);
}

.navBut {
    font-size: 3vh;
    width: 100%;
    background-color: black;
    color:rgb(255, 255, 255);
}